
.ipynb_checkpoints/CoupledPoints-checkpoint.ipynb

.ipynb_checkpoints/PotentialFlow-checkpoint.ipynb

.ipynb_checkpoints/Untitled-checkpoint.ipynb

Untitled.ipynb

Untitled1.ipynb

.ipynb_checkpoints/Untitled1-checkpoint.ipynb

.ipynb_checkpoints/Diffraction-checkpoint.ipynb

indexf.ipynb

Optics/__pycache__/shapes.cpython-35.pyc

Optics/Diffraction.ipynb

Optics/diffraction.py

Optics/out.bmp

Optics/diffraction.py
